    body {
        background-color: #d9d9d9;
    }
    
    .navbar {
        background-color: #2c2c2c;
    }
    
    #homeDropdown,
    #aboutDropdown,
    #communityDropdown,
    #supportDropdown,
    #supportDropdown {
        padding-left: 17px;
        padding-right: 29px;
        font-size: large;
    }
    
    #userDropdown {
        display: inline-block;
    }
    
    #supportDropdown img {
        width: 40;
        position: relative;
        display: flex;
    }
    
    #userPhoto {
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .d-flex {
        color: #2c2c2c;
        padding-top: 20px;
        padding-left: 10px;
    }
    
    #penicon {
        display: inline-block;
        align-items: baseline;
    }
    
    #shoppingIcon,
    #searchIcon {
        color: #8b8787;
    }
    
    #CarouselButton1 {
        position: relative;
        background-color: #aee245;
        border: unset;
        width: max-content;
        height: max-content;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        padding-right: 80px;
        padding-left: 80px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    #cyberpunk {
        position: relative;
        padding-left: 15px;
    }